<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
      <meta name="author" content="{{author}}" >
      <meta name="description" content="{{description}}" >
	  <link rel="stylesheet" href="club.css">
  </head>
<body class="container">

{{contents | safe}} <!-- A Nunjucks filter that stops HTML escaping -->

</body>
</html>